-
	const Footer = {
		dataArr: {
			pageLinkFooterArr: [
				{
					data: {
						text: 'Пульс. Квартира'
					},
					bem: {}
				},
				{
					data: {
						text: 'Пульс. Дом'
					}
				},
				{
					data: {
						text: 'Пульс. Движение'
					}
				},
				{
					data: {
						text: 'Пульс. Питомец'
					}
				},
				{
					data: {
						text: 'Пульс. Спорт'
					}
				},
				{
					data: {
						text: 'Пульс. Антиклещ'
					}
				},
			],
		},
		elem: {
			ColTopLeft: {
				cn: {
					cols: 'col-4 col-3@lg col-2@md col-6@sm',
				}
			},
			ColTopRight: {
				cn: {
					cols: 'col-8 col-9@lg col-4@md col-6@sm',
				}
			},
			RowMiddle: {
				cn: {
					alignItems: 'align-items-center align-items-md-start',
					direction: 'flex-column-md',
					gap: 'g-md-24',
					margin: 'mb-24 mt-24'
				}
			},
			ColMiddleLeft: {
				cn: {
					cols: 'col-4 col-3@lg col-6@md',
					order: 'order-md-2',
				}
			},
			ColMiddleRight: {
				cn: {
					cols: 'col-8 col-9@lg col-6@md',
					order: 'order-md-1',
				}
			},
			RowBottom: {
				cn: {
					margin: 'mt-32'
				},
			},
			ColBottomLeft: {
				cn: {
					cols: 'col-4 col-6@lg col-6@md',
				},
			},
			ColBottomRight: {
				cn: {
					cols: 'col-8 col-6@lg col-6@md',
				},
			},
			brandButton: {
				data: {
					text: 'Обратная связь'
				},
				cn: {
					customClass: 'feedback',
					margin: 'mb-24 mb-sm-32',
					modifier: 'radius-16'
				},
				opt: {
					button: true
				}
			},
			LinksPartnerArr: {
				elem: {
					arrData: [
						{
							data: {
								text: 'Защита от клещей'
							}
						},
						{
							data: {
								text: 'Защита поездок на «Велобайке»'
							}
						},
						{
							data: {
								text: 'Продлить ипотечную страховку ВТБ'
							}
						},
						{
							data: {
								text: 'Страхование жилья клиентам ВТБ'
							}
						},
					]
				}
			},
			LinksAboutArr: {
				elem: {
					arrData: [
						{
							data: {
								text: 'О компании'
							}
						},
						{
							data: {
								text: 'Раскрытие информации'
							}
						},
						{
							data: {
								text: 'Контролирующие организации'
							}
						},
						{
							data: {
								text: 'Правила страхования'
							}
						},
						{
							data: {
								text: 'Вопросы и ответы'
							}
						},
						{
							data: {
								text: 'Карьера'
							}
						},
						{
							data: {
								text: 'Карта сайта'
							}
						},
					]
				}
			},
			LinksInfoArr: {
				elem: {
					arrData: [
						{
							data: {
								text: 'Политика в отношении обработки персональных данных ООО СК «Пульс»'
							}
						},
						{
							data: {
								text: 'Пользовательское соглашение об использовании мобильного приложения и сайта ООО СК «Пульс»'
							}
						},
					]
				}
			},
			ParagraphDescriptionArr: {
				elem: {
					arrData: [
						{
							data: {
								text: 'Список акционеров (участников) страховой организации и лиц, под контролем либо значительным влиянием которых находится страховая организация и Схема взаимосвязей участников ООО СК «Пульс» и лиц, под контролем либо значительным влиянием которых находится ООО СК «Пульс», направлены в Банк России в установленном порядке.'
							}
						},
						{
							data: {
								text: 'Лицензии ЦБ РФ на осуществление страхования: СЛ № 1623, СИ № 1623. Лицензия без ограничения срока действия.'
							}
						},
						{
							data: {
								text: '© 2024 ООО СК «Пульс» 121059, г. Москва, ул. Киевская, д. 7, к. 1.'
							}
						},
					]
				}
			}
		},
		cn: {
			// socialMobile: 'mobile',
		},
	}
