//- # ПАРАМЕТРЫ ДЛЯ НАСТРОЙКИ LAYOUT # -//
// -
// 	const PAGE_TITLE = 'Главная 2';
// 	const PAGE_DESCRIPTION = 'Главная 2Главная 2Главная 2Главная 2';
// 	const PAGE_CANONICAL = 'https://pulse.insure';
// 	const PAGE_CLASS_BODY = 'index2-body';
// 	const PAGE_CLASS_MAIN = 'index2-main';

//- # НАСЛЕДОВАНИЕ ФУНКЦИИ ДЛЯ РАЗДЕЛЕНИЯ СТОРОВ # -//
// - const PAGE_STORE = addComponents();

////- ## Подключение store секции MainBanners ## -//
//include index--zone
//- PAGE_STORE.addComponent(Zone);
//
////- ## Подключение store секции MainBanners ## -//
//include index--main-banners
//- PAGE_STORE.addComponent(MainBanners);
//
////- ## Подключение store секции SmallBanners ## -//
//include index--small-banners
//- PAGE_STORE.addComponent(SmallBanners);
//
////- ## Подключение store секции Delivery ## -//
//include index--delivery
//- PAGE_STORE.addComponent(Delivery);
