-
	const MainBanners = {
		includeMain: 'Footer',
		elem: {
			CardMedium: {
				data: {
					image: './assets/img/sections/medium-banners/medium-banners-3.png',
					imageXs: './assets/img/sections/medium-banners/medium-banners-3-xs.png',
				},
				cn: {
					bgColor: 'orange'
				},
				elem: {
					Button: {
						data: {
							icon: 'arrow-right',
						},
						opt: {
							isCircle: true
						}
					},
					TextSmall: {
						data: {
							text: 'Акции и товары со скидками',
						},
						cn: {
							size: 'body-m-m',
							color: 'white-opacity',
						},
					},
					TextBig: {
						data: {
							text: 'Специальные<br>предложения',
						},
						cn: {
							size: 'body-h4',
							margin: 'mb-8',
							color: 'white'
						},
					},
				},
			},
			BannerVideo: {
				data: {
					image: './assets/img//sections/video-banner/video-banner.png',
					imageXs: './assets/img//sections/video-banner/video-banner-xs.png',
				},
				elem: {
					Button: {
						data: {
							icon: 'play',
						},
					},
					TextBig: {
						data: {
							text: 'Видео-советы'
						},
						cn: {
							size: 'body-h4',
							color: 'white',
						}
					},
					TextSmall: {
						data: {
							text: 'Советы на каждый день<br class="d-none@xs"> от Комуса'
						},
						cn: {
							size: 'body-m-m',
							color: 'white-opacity',
						}
					},
				}
			},
		}
	}
