//- # ПОДКЛЮЧЕНИЕ HEADER TEMPLATE ДЛЯ СТРАНИЦ # -//
block header
	+Header(Header)

//- # ПОДКЛЮЧЕНИЕ FOOTER TEMPLATE ДЛЯ СТРАНИЦ # -//
block footer
	+Footer(Footer)

//- # ПОДКЛЮЧЕНИЕ EXTRA CONTENT TEMPLATE ДЛЯ ИСПОЛЬЗОВАНИЯ НА ВСЕХ СТРАНИЦАХ # -//
prepend extra-content
	//- +Cooke
