| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ COMPONENTS #')}
script(src="/widgets/Header/Header.ts" defer)

| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ SECTIONS #')}
//- script(src="/widgets/Header/ModalProduct.ts" defer)

script(src="https://api-maps.yandex.ru/v3/?apikey=88820c2c-62bd-499b-a90c-1dacf597a017&lang=ru_RU")
