-
	const SmallBanners = {
		includeExtraContent: 'Header',
		cn: {
			margin: 'mt-16'
		},
		dataArr: {
			smallBanners: [
				{
					data: {
						text: 'Регулярные скидки и подарки',
						icon: 'gift'
					}
				},
				{
					data: {
						text: 'Бесплатная доставка «день в день»',
						icon: 'car'
					}
				},
				{
					data: {
						text: 'Добавьте свою компанию или ИП',
						icon: 'bag',
						type: 'button'
					},
					opt: {
						isButton: true
					}
				},
			],
		}
	}
