-
	const Delivery = {
		includeExtraContent: 'Footer',
		cn: {
			margin: 'mt-48'
		},
		elem: {
			CardBig: {
				data: {
					image: `./assets/img/sections/delivery-banner/delivery-banner.png`,
					imageXs: './assets/img/sections/delivery-banner/delivery-banner-xs.png',
				},
				cn: {
					bgColor: 'red'
				},
				elem: {
					TextBig: {
						data: {
							text: 'Доставка<br>от 60 минут'
						},
						cn: {
							color: 'white',
							size: 'body-h1',
							margin: 'mb-16 mb-4@xs'
						}
					},
					TextSmall: {
						data: {
							text: 'Одна из самых надежных и<br class="d-none d-block@xs"> быстрых<br class="d-none@xs"> доставок'
						},
						cn: {
							size: 'body-m-m',
							color: 'white-opacity'
						}
					}
				}
			},
			Col: {
				cols: 'col-20 col-12@md col-4@xs'
			}
		}
	}
