| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ COMPONENTS #')}
//+script('COMPONENTS', 'BannerPromo')
//+script('COMPONENTS', 'CardProduct')
script(src="/widgets/Header/Header.ts" defer)
| !{HTMLComment('# ПОДКЛЮЧЕНИЕ JS ДЛЯ SECTIONS #')}
//+script('SECTIONS', 'SectionCardProductHeading')
//+script('SECTIONS', 'ModalProduct')
//+script('SECTIONS', 'ModalMap')
//+script('SECTIONS', 'ModalMapStatic')
//+script('SECTIONS', 'ModalAuth')
//+script('SECTIONS', 'ModalBuyInOne')

script(src="https://api-maps.yandex.ru/v3/?apikey=88820c2c-62bd-499b-a90c-1dacf597a017&lang=ru_RU")
