-
	function classes(cn) {
		const BLOCK = CN('checkbox');

		return {
			block: BLOCK(),
			elementInput: BLOCK('input'),
			elementWrapper: BLOCK('wrapper'),
			elementBox: BLOCK('box'),
			elementLabel: BLOCK('label'),
		}
	}
